@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body,
p,
a {
    margin: 0;
}

a,
a:visited {
    text-decoration: none;
    color: #f87629;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    width: 1000px;
    margin: 0 auto;

    hr{
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, #f8762900, #f87629,#f87629,#f87629, #f8762900);
        margin: 10px 0;
    }

    .divider{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 80px 0;
        hr{
            width: 46%;
            background-image: linear-gradient(to right, #f8762900, #f87629, #f87629, #f87629, #f8762900);
        }
        img{
        }
    }

    .title {
        margin-top: 40px;
        position: relative;

        .subtitle {
            display: flex;
            align-items: center;

            .carrot {
                width: 25px;
                margin-bottom: 2px;
                margin-left: 4px;
            }

            h3 {
                margin: 0;
                display: inline;
            }
        }

        h1 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 3rem;
            margin: 20px 0;
        }
        .univs{
            display: none;
            position: absolute;
            background-color: white;
            color:#f87629;
            border-radius: 25px;
            border: 1px solid #f87629;
            padding: 10px 20px;
            top:0;
        }

        .name-container {
            .name {
                font-size: 1.5rem;
                line-height: 3rem;
                margin-right: 30px;
                color: #f87629;
            }
        }

        .caption {
            margin-top: 10px;
            font-size: 0.7rem;
        }

        .buttons {
            display: flex;
            margin: 20px 0;

            .link-btn {
                display: flex;
                align-items: center;
                background-color: #ff9a41;
                border-radius: 25px;
                padding: 10px 20px;
                border: none;
                margin: 10px 10px 10px 0;

                .link-logo {
                    width: 15px;
                    margin-right: 5px;
                }

                .link-name {
                    color: white;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .demo-container{
        margin-top: 80px;
        .demovid{
            width: 100%;
        }
        p{
            width: 100%;
            // text-align: center;
            font-weight: 500;
            margin-top: 10px
        }
        
        .vid-container{
            display: flex;
            flex-wrap: wrap;
            video{
                width: 50%;
            }
        }
    
    }


}